*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  width: 1200px;
  height: 800px;
  display: flex;
}
.content {
  margin: 133px 30px 133px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap:30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap:16px;
  align-items: flex-start;
}
.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid rgba(255, 255, 255, 1)
}
.search-form__label:hover {
  text-decoration: underline;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  line-height: 22px;
  border-width: 0;
}

.search-form__fieldset-title{
  line-height: 22px;
  color: #FFFFFF;
}

.search-form__textfield { 
  color: rgba(255, 255, 255, 0.7);
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  padding: 2.5px 0 2.5px 0;
  width: 225px;
  font-size: 16px;
  appearance: none;
  margin: 2px;
}

.search-form__textfield:active {
  border: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

input[type="checkbox"]:active + .search-form__pseudo-checkbox:after,
input[type="checkbox"]:checked + .search-form__pseudo-checkbox:after {
  content: '';
  width:15px;
  height: 15px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: #fff;
  margin: auto;
  display: inline-block;
}

.search-form__pseudo-checkbox {
  margin: 2px 5px 2px 2px; 
  vertical-align: middle;
  width:19px;
  height: 19px;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: flex;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

.button {
 text-align: center;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
.button:active {
  background-color: rgba(84, 80, 80, 1);
}
.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline-offset: -3px; 
  outline-color: #FFF;
  outline-width: 1px;
  outline-style: solid;
}



.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.content__details {
  flex-grow: 1;
}

.title {
  margin-bottom: 26px;
  margin-right: 139px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #FFF;
}

.content__list {
  overflow: scroll;
  height:298px;
  display: flex;
  gap:30px;
  flex-direction: column;
  position: relative;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
}

.content__accent {
  color:  #545050;
}


.content__card-link {
  display: block;
  margin:2px;
  cursor: pointer;
}
.content__card-link_current {
  background: rgba(84, 80, 80, 1);
}

.content__card-link,
.content__card-link:visited {
  text-decoration: none;
  color:#fff
}

.content__card-link:active {
  background: rgba(84, 80, 80, 1);
}
.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid rgba(255, 255, 255, 1);
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap:6px;
  flex-grow: 1;
  padding-left: 2px;
  padding-top: 2px;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16px;
}

.more-button {
  width: 399px;
  height: 34px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
